body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    height: 450px;
    width: 400px;
    background: rgb(58,60,180);
    background: linear-gradient(34deg, rgba(58,60,180,1) 0%, rgba(253,130,29,1) 50%, rgba(252,69,168,1) 100%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
}

.ecran {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.ecran input{
    height: 50px;
    width: 300px;
    background: rgb(58,60,180);
    background: linear-gradient(34deg, rgba(58,60,180,1) 0%, rgba(88,88,88,1) 50%, rgba(82,0,44,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    text-align: end;
    padding-right: 20px;
}

.firstStage {
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#ac {
    width: 70%;
    height: 100%;
    background-color: aqua;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diviser {
    width: 30%;
    height: 100%;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondStage, .treeStage, .fourStage{
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

button{
    width: 30%;
    height: 100%;
    background: rgb(58,60,180);
    background: linear-gradient(34deg, rgba(58,60,180,1) 0%, rgba(88,88,88,1) 50%, rgba(82,0,44,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white; 
}
/* .seven, .huit, .neuf, .quatre, .cinq, .six, .un, .deux, .trois, .plus, .sous, .foix, bouton{
    width: 30%;
    height: 100%;
    background: rgb(58,60,180);
    background: linear-gradient(34deg, rgba(58,60,180,1) 0%, rgba(88,88,88,1) 50%, rgba(82,0,44,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
} */

.fiveStage {
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 8px;
}

#zero {
    width: 70%;
    height: 100%;
    background-color: aqua;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#egal {
    width: 30%;
    height: 100%;
    background-color: blue;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}