body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(180,58,58);
    background: linear-gradient(34deg, rgba(180,58,58,1) 0%, rgba(48,48,48,1) 37%);}


.container {
    height: 450px;
    width: 400px;
    background: rgb(180,58,58);
background: linear-gradient(180deg, rgba(180,58,58,1) 0%, rgba(255,255,255,1) 51%);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgb(63, 63, 63);
}

.ecran {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.ecran input{
    height: 50px;
    width: 300px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(209, 209, 209); 
    text-align: end;
    padding-right: 20px;
}

.firstStage {
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#ac {
    width: 70%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diviser {
    width: 30%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondStage, .treeStage, .fourStage{
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 10px;
}

button{
    width: 30%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(209, 209, 209); 
}
/* .seven, .huit, .neuf, .quatre, .cinq, .six, .un, .deux, .trois, .plus, .sous, .foix, bouton{
    width: 30%;
    height: 100%;
    background: rgb(58,60,180);
    background: linear-gradient(34deg, rgba(58,60,180,1) 0%, rgba(88,88,88,1) 50%, rgba(82,0,44,1) 100%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
} */

.fiveStage {
    height: 50px;
    width: 77%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 8px;
}

#zero {
    width: 70%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#egal {
    width: 30%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#egal {
    background-image: url(./../img/egal.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
